RewriteEngine On

# URLs limpias
RewriteRule ^instalaciones/?$ /HTML/instalaciones.html [L]
RewriteRule ^seguridad/?$ /HTML/seguridad.html [L]
RewriteRule ^reparacion/?$ /HTML/reparacion.html [L]
RewriteRule ^about/?$ /HTML/about.html [L]

# Redirección de URLs antiguas a URLs limpias
RewriteCond %{THE_REQUEST} \s/+HTML/instalaciones\.html[\s?] [NC]
RewriteRule ^HTML/instalaciones\.html$ /instalaciones [R=301,L]

RewriteCond %{THE_REQUEST} \s/+HTML/seguridad\.html[\s?] [NC]
RewriteRule ^HTML/seguridad\.html$ /seguridad [R=301,L]

RewriteCond %{THE_REQUEST} \s/+HTML/reparacion\.html[\s?] [NC]
RewriteRule ^HTML/reparacion\.html$ /reparacion [R=301,L]

RewriteCond %{THE_REQUEST} \s/+HTML/about\.html[\s?] [NC]
RewriteRule ^HTML/about\.html$ /about [R=301,L]
